body {
    @apply text-gray-700 h-screen w-screen;
}

.k-progress .k-progress-outer {
    @apply p-0;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.text-input {
    @apply py-2 px-2 rounded-lg outline-none border-2 border-gray-200;
}
.text-input:focus {
    @apply border-red-300 ring-1 ring-red-500 ring-opacity-30;
}
.text-input::placeholder {
    @apply text-gray-300;
}
